body {
  margin: 0;
  background-color: #fff;
}
body .shadow-div {
  transition: all 1s;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(97.1% 56.69% at 50% 48.19%, #DFDFDF 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-items: center;
}
body .shadow-div .signOut {
  padding: 20px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 20.4px 0px rgba(75, 75, 75, 0.33);
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-items: center;
}
body .shadow-div .signOut .msg p {
  color: #9C9C9C;
  font-size: 3vh;
  font-weight: 700;
  letter-spacing: 0.315px;
}
body .shadow-div .signOut .target-choose {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}
body .shadow-div .signOut .target-choose button {
  font-size: 2.5vh;
  padding: 10px 35px;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  background: rgba(241, 61, 61, 0.05);
  font-weight: 700;
}
body .shadow-div .signOut .target-choose div:first-of-type button {
  color: #E26E6E;
}
body .shadow-div .signOut .target-choose div:last-of-type button {
  color: #31C952;
}
body header {
  width: 100%;
  border-bottom: 0.2vh solid #B3B3B3;
}
body header .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
body header .container > div:nth-of-type(2) {
  margin-right: 25px;
}
body header .container > div:nth-of-type(2) span {
  font-size: 3vh;
  font-weight: bold;
}
body header .container > div:nth-of-type(3) span {
  font-size: 1.7vh;
  font-weight: bold;
  color: #F27979;
  border: 0.2vh solid #ABABAB;
  border-radius: 1.5vh;
  padding: 1vh;
}
body main {
  height: 80vh;
}
body main form {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
body main form .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-items: center;
}
body main form .content img {
  margin: 3vh auto;
  width: 25%;
}
body main form .content input {
  width: 90%;
  height: 4vh;
  border: none;
  border-radius: 1vh;
  padding: 8px;
  font-size: 2vh;
  margin: 10vh 0 2vh 0;
  background-color: #EAEAEA;
  color: #939393;
}
body main form .content input:nth-of-type(2) {
  margin: 2vh 0 0 0;
}
body main form .content input:focus {
  outline: 1px solid #635e5e;
}
body main form .save-user {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-items: center;
}
body main form .save-user button[type=submit] {
  margin: 5% auto;
  padding: 1vh 10vh;
  background-color: #63AF35;
  border: none;
  border-radius: 1vh;
  color: white;
  font-weight: bold;
  font-size: 3vh;
}
body .swal2-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/*# sourceMappingURL=information.css.map */
