body {
    margin: 0;
    background-color: #F2F2F2;
    margin-top: 22vh;
}

#headerMain {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#header-top {
    width: 100%;
    height: 8vh;

    background-image: -webkit-linear-gradient(#03268ece 0%, #7dd7f3cb 90%);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-top * {
    margin: 0 2vh;
}

#header-top span {
    color: white;
    font-weight: bold;
    font-size: 3vh;
}

#header-main {
    width: 100%;
    height: 8vh;
    background-color: #7dd7f3bd;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-main div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#header-main>div {
    margin: 0 4vh;
}


#header-bottom {
    width: 0;
    height: 0;
    border-top: 4vh solid #7dd7f3c8;
    border-right: 23.2vh solid transparent;
    border-left: 23.2vh solid transparent;
    border-bottom: 1px solid none;
    box-shadow: 0px -1px #7DD8F3;
}

/* ...........................Options section main...................................... */

#OptionsSectionMain {
    width: 90%;
    height: 30vh;
    margin: 0 auto;
    border-radius: 2vh;
    background: #FFF;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
}

#OptionsSectionMain>div {
    width: 25%;
    height: 10vh;
    margin: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#OptionsSectionMain>div>div>svg {
    width: 7vh;
    height: 7vh;
}

#OptionsSectionMain>div>span {
    color: #2E2E2E;
    font-size: 1.5vh;
    font-weight: bold;
}

#slaider {
    /* float: right; */
    width: 90%;
    direction: ltr;
    margin: 2vh auto 0;
}

.item img {
    width: 100% !important;
}

.owl-next span,
.owl-prev span {
    visibility: hidden;
}

/* ............... footer style ............... */

#footerMain {
    width: 90%;
    position: fixed;
    bottom: 4vh;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
}

#footer-top {
    width: 0;
    height: 0;
    border-bottom: 4vh solid #c2e6f0;
    border-right: 19vh solid transparent;
    border-left: 19vh solid transparent;
    border-top: 1px solid none;
    margin: 0 auto;
}

#footer-bottom {
    width: 100%;
    height: 10vh;
    background-image: -webkit-linear-gradient(#c2e6f0, #3b5dab);
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-bottom>div {
    margin: 0 3vh;
}