@font-face {
  font-family: iran-sans-bold;
  src: url(../css/BTitrBd.ttf);
}
@font-face {
  font-family: iran-sans;
  src: url(../css/BTraffic.ttf);
}
@font-face {
  font-family: VampiroOne-Regular;
  src: url(../Fonts-B_YasDL.com/VampiroOne-Regular.ttf);
}
@font-face {
  font-family: BArabics;
  src: url(../Fonts-B_YasDL.com/BArabics.ttf);
}
body {
  font-family: iran-sans;
  background-color: #FDFDFD;
  margin: 0;
}
body header {
  font-family: iran-sans-bold;
}
body #headerMain {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(113, 159, 244, 0.4431372549) 0%, rgba(189, 209, 248, 0.54) 25%, rgba(239, 239, 239, 0) 80%, #FDFDFD 100%);
  display: none;
}
body #headerMain #header-top {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #headerMain #header-top .logo-tit-T {
  text-shadow: 0px 1px 4px #7C7C7C;
  color: #FF8C15;
  font-family: VampiroOne-Regular;
  -webkit-text-stroke-width: 0.01vh;
  -webkit-text-stroke-color: #F8F8F8;
  font-size: 5vh;
}
body #headerMain #header-top .logo-tit-Bar {
  font-family: BArabics;
  color: #206BF5;
}
body #headerMain #header-top span {
  color: #414141;
  font-weight: bold;
  font-size: 3vh;
  margin: 0;
}
body #headerMain #header-top * {
  margin: 0 2vh;
}
body #headerMain #header-main {
  width: 95%;
  height: 8vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #headerMain #header-main div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
body #headerMain #header-main div span {
  color: #2E2E2E;
}
body #headerMain #header-main > div {
  margin: 0 4vh;
}
body #headerMain #header-main #icon-home,
body #headerMain #header-main #mobile-QR-active {
  display: none;
}
body #headerMain #header-main #icon-home-active,
body #headerMain #header-main #mobile-QR-active {
  padding: 1vh 0;
}
body #headerMain #header-main .line-QR-code,
body #headerMain #header-main .line-home {
  width: 0%;
  margin: 0;
  height: 0.2vh;
  transition: width 0.4s;
  opacity: 0;
  visibility: hidden;
  background: #707070;
}
body #headerMain #header-main .line-QR-code-A,
body #headerMain #header-main .line-home-A {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
body #main {
  width: 100%;
  transition-duration: 3s;
}
body #OptionsSectionMain {
  width: 90%;
  height: 26vh;
  margin: 20vh auto 0;
  border-radius: 2vh;
  display: flex;
  flex-wrap: wrap;
  padding: 1vh 0;
  background: rgba(255, 205, 145, 0);
  box-shadow: 0px 0px 11.9px 0px rgba(255, 205, 145, 0.5);
}
body #OptionsSectionMain div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 6.5%;
  width: 20%;
  height: 0vh;
}
body #OptionsSectionMain div > span {
  color: #42ABD8;
  font-size: 1.3vh;
  font-weight: bold;
  text-align: center;
}
body #OptionsSectionMain div img {
  width: 70%;
}
body #slider {
  width: 90%;
  direction: ltr;
  margin: 2vh auto;
}
body #slider .owl-stage-outer {
  border-radius: 1vh;
}
body #slider .item {
  width: 100%;
  height: 30%;
}
body #slider .item img {
  width: 100% !important;
  height: 100% !important;
}
body #slider .owl-dots button span {
  margin: 5px 3px;
}
body #qrCode {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  flex-direction: column;
  align-items: center;
}
body #qrCode h3 {
  color: #ACACAC;
  font-size: 2.5vh;
  font-weight: bold;
}
body #qrCode img {
  width: 70%;
  margin: 0 auto;
  opacity: 70%;
}
body #footerMain {
  width: 100%;
  height: 13vh;
  position: fixed;
  bottom: 0vh;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(113, 159, 244, 0.4431372549) 0%, rgba(189, 209, 248, 0.54) 35%, rgba(239, 239, 239, 0) 100%);
  box-shadow: 0px -5px 18.2px 0px rgba(0, 0, 0, 0.05);
}
body #footerMain #container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #footerMain #container div {
  margin: 0 4vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #footerMain .box-shadow {
  width: 100%;
  height: 10vh;
  background: linear-gradient(0deg, #719FF4 0%, rgba(189, 209, 248, 0.54) 49.39%, rgba(239, 239, 239, 0) 100%);
}
body #loading-page {
  background: linear-gradient(163deg, #79A4F5 47.08%, #DCE4F4 138.52%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #loading-page img {
  width: 30%;
  height: 14vh;
  border-radius: 30px 0;
}
body #div-trafficRules {
  width: 6.5vh;
  height: 6.5vh;
  border-radius: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body span {
  font-size: 2.5vh;
  margin-top: 0.8vh;
}
body .owl-next span,
body .owl-prev span {
  visibility: hidden;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #FF8C15;
}

/*# sourceMappingURL=styleMain.css.map */
