@import "./varibles.scss";
@import "./mixing.scss";

body {
    font-family: iran-sans;
    margin: 0;
    background-color: #fff;

    header {
        font-family: iran-sans-bold;
        width: 100%;
        border-bottom: $borderBottom;

        .container {
            width: 90%;
            margin: 0 auto;
            @include flex-box(flex, row, nowrap, center, space-between, center);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10vh;

            >div:nth-of-type(2) {
                margin-right: 25px;

                span {
                    font-size: 3vh;
                    font-weight: bold;
                }
            }

            >div:nth-of-type(3) {
                span {
                    font-size: 1.7vh;
                    font-weight: bold;
                    color: #F27979;
                    border: 0.2vh solid #ABABAB;
                    border-radius: 1.5vh;
                    padding: 1vh;
                }
            }
        }
    }

    main {
        height: 80vh;

        form {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            @include flex-box(flex, column, nowrap, center, space-between, center);

            .content {
                width: 100%;
                @include flex-box(flex, column, nowrap, center, center, center);

                img {
                    margin: 3vh auto;
                    width: 25%;
                }

                input {
                    width: 90%;
                    height: 4vh;
                    border: none;
                    border-radius: 1vh;
                    padding: 8px;
                    font-size: 2vh;
                    margin: 10vh 0 2vh 0;
                    background-color: #EAEAEA;
                    color: #939393;
                }

                input:nth-of-type(2) {
                    margin: 2vh 0 0 0;
                }

                input:focus {
                    outline: 1px solid #635e5e;
                }
            }


            .save-user {
                width: 100%;
                margin: 0px auto;
                @include flex-box(flex, row, nowrap, center, center, center);

                button[type=submit] {
                    margin: 5% auto;
                    padding: 1vh 10vh;
                    background-color: #63AF35;
                    border: none;
                    border-radius: 1vh;
                    color: white;
                    font-weight: bold;
                    font-size: 3vh;
                }


            }

        }
    }

    // modal style
    .swal2-actions {
        @include flex-box(flex, row, nowrap, center, space-around, center);
        flex-direction: row-reverse;
        width: 100%;

        button {
            font-weight: bold;
            font-size: 3vh;
            padding: 1vh 4vh;
        }

        button:nth-of-type(1) {
            color: #31C952;
        }

        button:nth-of-type(3) {
            color: #E26E6E;
        }
    }
}