@import "varibles";

body {
    margin: 0;
    background-color: #F7FCF6;

    header {
        width: 100%;
        border-bottom: $borderBottom;

        .container {
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10vh;

            >div:nth-of-type(2) {
                margin-right: 10vh;

                span {
                    font-size: 3vh;
                    font-weight: bold;
                }
            }

            >div:nth-of-type(3) {
                span {
                    font-size: 1.7vh;
                    font-weight: bold;
                    color: #F27979;
                    border: 0.2vh solid #ABABAB;
                    border-radius: 1.5vh;
                    padding: 1vh;
                }
            }
        }
    }

    main {
        form {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                margin: 3vh auto;
            }

            input {
                width: 90%;
                height: 4vh;

                border: none;
                border-radius: 1vh;

                padding: 0 2vh 0;
                font-size: 2vh;
                margin: 10vh 0 2vh 0;

                background-color: #ffffff;
                color: #939393;
            }

            input:nth-of-type(2) {
                margin: 2vh 0 0 0;
            }

            button[type=submit] {
                margin: 0 auto;
                padding: 1vh 10vh;
                background-color: #63AF35;
                border: none;
                border-radius: 1vh;
                color: white;
                font-weight: bold;
                font-size: 3vh;
                position: absolute;
                bottom: 10vh;
            }

            p {
                color: red;
            }
        }
    }
}