body {
    margin: 0;
}

.panel {
    overflow: scroll;
    margin-left: 10px;
    margin-top: 10px;
    width: fit-content;
    background-color: aliceblue;
    opacity: 0.9;
    border: 3px solid #4C3FE4;
    padding: 10px;
    position: absolute;
    z-index: 2;
    height: fit-content;

    label:first-of-type {
        margin-left: 50%;
    }

    input:first-of-type {
        margin-left: 17%;
    }

    h4 {
        margin-left: 50%;
    }

    #search[type="button"] {
        margin-top: 10px;
    }
}

#map {
    width: 99%;
    height: 98%;
    background: #eee;
    border: 2px solid #aaa;
    position: absolute;
    z-index: 1;
}