body {
    margin: 0;
    display: flex;
    justify-content: center;
}

footer {
    overflow: scroll;
    position: absolute;
    z-index: 2;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    overflow: hidden;
    flex-direction: column;
    bottom: 2vh;

    label:first-of-type {
        margin-left: 50%;
    }

    input {
        width: 80%;
        height: 3vh;
        border-radius: 1vh;
        outline: none;
        border: none;
        padding-right: 1.5vh;
    }

    h4 {
        margin-left: 50%;
    }

    #search[type="button"] {
        margin-top: 10px;
    }

    #term {
        display: inline-block;
    }

    label {
        display: none;
    }

    img {
        width: 3vh;
    }

    #searchBox {
        background-color: #44444430;
        display: flex;
        width: 100%;
        height: 6vh;
        justify-content: space-around;
        align-items: center;
        border-radius: 1vh;
    }

    input {
        display: none;
    }

    #container-svg {
        height: 15vh;
        width: 100%;
    }

    #resualt {
        height: 30vh;
        box-sizing: unset;
        overflow: scroll;
        overflow-x: hidden;
        margin-bottom: 1vh;
        display: none;
        flex-direction: column;

        >div {
            width: 100%;
            margin: 1vh auto 0;
            height: 5.5vh;
            background-color: #a99f9fa7;

            // margin-top: 4vh;

            pre {
                margin-top: -0.3vh;
                box-sizing: content-box;
                margin-left: 3vh;
            }
        }
    }

    p {
        display: none;
    }
}

#map {
    width: 99%;
    height: 98%;
    background: #eee;
    border: 2px solid #aaa;
    position: absolute;
    z-index: 1;
}