@font-face {
    font-family: persianFont;
    src: url(BTraffic.ttf);
}

body {
    background-color: #F2F2F2;
    font-family: persianFont;

    header {
        div {
            justify-self: center;
            border-bottom: 1px solid #535353;

            h3 {
                font-weight: 700;
            }

            div {
                float: right;
                border-bottom: none;
            }
        }
    }

    main {
        color: #535353;

        .headerMain {
            align-items: center;
            padding: 5px 0px 5px 0px;

            h4 {
                font-weight: 700;
            }

            div:last-of-type {
                position: relative;
                width: 100%;
                height: 59px;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .information {
            font-weight: 600;

            .settingOption {
                border-bottom: 1px solid #B3B3B3;
                padding: 0px;

                div:last-of-type {
                    padding: 0px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}