body {
    background-color: #FDFDFD;

    #headerMain {
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        #header-top {
            width: 100%;
            height: 8vh;

            display: flex;
            align-items: center;
            justify-content: space-between;
            background: linear-gradient(180deg, #719FF4 0%, rgba(189, 209, 248, 0.54) 49.39%, rgba(239, 239, 239, 0.00) 100%);

            span {
                color: #414141;
                font-weight: bold;
                font-size: 3vh;
            }
        }

        #header-top * {
            margin: 0 2vh;
        }

        #header-main {
            width: 100%;
            height: 8vh;

            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                span {
                    color: #2E2E2E;
                }
            }

            >div {
                margin: 0 4vh;
            }
        }

    }

    #OptionsSectionMain {
        width: 80%;
        height: 26vh;
        margin: 20vh auto 0;
        border-radius: 2vh;
        display: flex;
        flex-wrap: wrap;
        padding: 1vh;

        border: 0.2vh solid #FFE2BF;
        background: rgba(255, 205, 145, 0.00);
        box-shadow: 0px 0px 11.9px 0px #FFE1BC;

        >div {
            width: 30%;
            height: 10vh;
            margin: 0.3vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            >div>svg {
                width: 7vh;
                height: 7vh;
            }

            >span {
                color: #C6C6C6;
                font-size: 1.5vh;
                font-weight: bold;
            }

            img {
                width: 100%;
            }
        }
    }

    #slider {
        width: 90%;
        direction: ltr;
        margin: 2vh auto 0;

        .item {
            width: 100%;
            height: 30vh;

            img {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }

    #footerMain {
        width: 100%;
        position: fixed;
        bottom: 0vh;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: 1;
        display: flex;
        flex-direction: column;

        #container {
            width: 100%;
            margin: 0 auto;
            height: 4vh;
            border-radius: 1vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 0.1vh solid #797979;

            >div {
                display: flex;
                width: 90%;
                margin: 0 auto;
                margin-top: 5vh;
                align-items: center;
                justify-content: space-between;

                div {
                    margin: 0 3vh;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }
            }

        }

        .box-shadow {
            width: 100%;
            height: 10vh;
            background: linear-gradient(0deg, #719FF4 0%, rgba(189, 209, 248, 0.54) 49.39%, rgba(239, 239, 239, 0.00) 100%);
        }
    }

    #div-trafficRules {
        width: 6.5vh;
        height: 6.5vh;
        border-radius: 10vh;


        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        font-size: 2.5vh;
        margin-top: 0.8vh;
    }

    .owl-next span,
    .owl-prev span {
        visibility: hidden;
    }
}