@import "../sass/varibles.scss";

@font-face {
    font-family: VampiroOne-Regular;
    src: url(../Fonts-B_YasDL.com/VampiroOne-Regular.ttf);
}

@font-face {
    font-family: BArabics;
    src: url(../Fonts-B_YasDL.com/BArabics.ttf);
}

body {
    font-family: iran-sans;
    background-color: #FDFDFD;
    margin: 0;

    header {
        font-family: iran-sans-bold;
    }

    #headerMain {
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: linear-gradient(180deg, #719ff471 0%, rgba(189, 209, 248, 0.54) 25%, rgba(239, 239, 239, 0.00) 80%, #FDFDFD 100%);
        display: none;

        #header-top {
            width: 100%;
            height: 8vh;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo-tit-T {
                text-shadow: 0px 1px 4px #7C7C7C;
                color: #FF8C15;
                font-family: VampiroOne-Regular;
                -webkit-text-stroke-width: 0.01vh;
                -webkit-text-stroke-color: #F8F8F8;
                font-size: 5vh;
            }

            .logo-tit-Bar {
                font-family: BArabics;
                color: #206BF5;
            }

            span {
                color: #414141;
                font-weight: bold;
                font-size: 3vh;
                margin: 0;
            }
        }

        #header-top * {
            margin: 0 2vh;
        }

        #header-main {
            width: 95%;
            height: 8vh;
            margin: 0 auto;

            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                span {
                    color: #2E2E2E;
                }
            }

            >div {
                margin: 0 4vh;
            }

            #icon-home,
            #mobile-QR-active {
                display: none;
            }

            #icon-home-active,
            #mobile-QR-active {
                border-bottom: 0.3vh solid #707070;
                padding: 1vh 0;
            }
        }

    }

    #main {
        width: 100%;
    }

    #OptionsSectionMain {
        width: 90%;
        height: 26vh;
        margin: 20vh auto 0;
        border-radius: 2vh;
        display: flex;
        flex-wrap: wrap;
        padding: 1vh 0;

        background: rgba(255, 205, 145, 0.00);
        box-shadow: 0px 0px 11.9px 0px rgba(255, 205, 145, 0.50);

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 3% 6.5%;
            width: 20%;
            height: 0vh;

            >span {
                color: #42ABD8;
                font-size: 1.3vh;
                font-weight: bold;
                text-align: center;
            }

            img {
                width: 70%;
            }
        }


    }

    #slider {
        width: 90%;
        direction: ltr;
        margin: 2vh auto;

        .owl-stage-outer {
            border-radius: 1vh;
        }

        .item {
            width: 100%;
            height: 30%;

            img {
                width: 100% !important;
                height: 100% !important;
            }
        }

        .owl-dots {
            button {
                span {
                    margin: 5px 3px;
                }
            }
        }
    }

    #qrCode {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 20vh;
        flex-direction: column;
        align-items: center;

        h3 {
            color: #ACACAC;
            font-size: 2.5vh;
            font-weight: bold;
        }

        img {
            width: 70%;
            margin: 0 auto;
        }
    }

    #footerMain {
        width: 100%;
        height: 13vh;
        position: fixed;
        bottom: 0vh;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: 1;
        flex-direction: column;
        background: linear-gradient(0deg, #719ff471 0%, rgba(189, 209, 248, 0.54) 35%, rgba(239, 239, 239, 0.00) 100%);
        box-shadow: 0px -5px 18.2px 0px rgba(0, 0, 0, 0.05);


        #container {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border-radius: 1vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            // >div {
            //     display: flex;
            //     width: 90%;
            //     margin: 0 auto;
            //     margin-top: 5vh;
            //     align-items: center;
            //     justify-content: space-between;

            div {
                margin: 0 4vh;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

            // }

        }

        .box-shadow {
            width: 100%;
            height: 10vh;
            background: linear-gradient(0deg, #719FF4 0%, rgba(189, 209, 248, 0.54) 49.39%, rgba(239, 239, 239, 0.00) 100%);
        }
    }

    #loading-page {
        background: linear-gradient(163deg, #79A4F5 47.08%, #DCE4F4 138.52%);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 30%;
            height: 14vh;
            border-radius: 30px 0;
        }
    }

    #div-trafficRules {
        width: 6.5vh;
        height: 6.5vh;
        border-radius: 10vh;


        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        font-size: 2.5vh;
        margin-top: 0.8vh;
    }

    .owl-next span,
    .owl-prev span {
        visibility: hidden;
    }
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #FF8C15;
}