@import "../sass/varibles.scss";

body {
    font-family: iran-sans;
    background-color: #FDFDFD;

    header {
        font-family: iran-sans-bold;
    }

    #headerMain {
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: linear-gradient(180deg, #719ff471 0%, rgba(189, 209, 248, 0.54) 25%, rgba(239, 239, 239, 0.00) 80%, #FDFDFD 100%);

        #header-top {
            width: 100%;
            height: 8vh;

            display: flex;
            align-items: center;
            justify-content: space-between;


            span {
                color: #414141;
                font-weight: bold;
                font-size: 3vh;
            }
        }

        #header-top * {
            margin: 0 2vh;
        }

        #header-main {
            width: 100%;
            height: 8vh;

            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                span {
                    color: #2E2E2E;
                }
            }

            >div {
                margin: 0 4vh;
            }

            #icon-home,
            #mobile-QR-active {
                display: none;
            }

            #icon-home-active,
            #mobile-QR-active {
                border-bottom: 0.3vh solid #707070;
                padding: 1vh 0;
            }
        }

    }

    #OptionsSectionMain {
        width: 90%;
        height: 26vh;
        margin: 20vh auto 0;
        border-radius: 2vh;
        display: flex;
        flex-wrap: wrap;
        padding: 1vh 0;

        border: 0.2vh solid #FFE2BF;
        background: rgba(255, 205, 145, 0.00);
        box-shadow: 0px 0px 11.9px 0px #FFE1BC;

        >div {
            width: 30%;
            height: 10vh;
            margin: 0.3vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            >div>svg {
                width: 7vh;
                height: 7vh;
            }

            >span {
                color: #C6C6C6;
                font-size: 1.5vh;
                font-weight: bold;
            }

            img {
                width: 100%;
            }
        }
    }

    #slider {
        width: 90%;
        direction: ltr;
        margin: 2vh auto;

        .item {
            width: 100%;
            height: 30%;

            img {
                width: 100% !important;
                height: 100% !important;
            }
        }

        .owl-dots {
            button {
                span {
                    margin: 5px 3px;
                }
            }
        }
    }

    #qrCode {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 25vh;
        flex-direction: column;
        align-items: center;

        h3 {
            color: #ACACAC;
            font-size: 3vh;
            font-weight: bold;
        }

        img {
            width: 80%;
            margin: 0 auto;

        }
    }

    #footerMain {
        width: 100%;
        position: fixed;
        bottom: 0vh;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: 1;
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, #719ff471 0%, rgba(189, 209, 248, 0.54) 35%, rgba(239, 239, 239, 0.00) 100%);
        box-shadow: 0px -5px 8.2px 0px rgba(0, 0, 0, 0.05);


        #container {
            width: 100%;
            height: 13vh;
            margin: 0 auto;
            border-radius: 1vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #ECECEC;

            // >div {
            //     display: flex;
            //     width: 90%;
            //     margin: 0 auto;
            //     margin-top: 5vh;
            //     align-items: center;
            //     justify-content: space-between;

            div {
                margin: 0 3vh;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

            // }

        }

        .box-shadow {
            width: 100%;
            height: 10vh;
            background: linear-gradient(0deg, #719FF4 0%, rgba(189, 209, 248, 0.54) 49.39%, rgba(239, 239, 239, 0.00) 100%);
        }
    }

    #div-trafficRules {
        width: 6.5vh;
        height: 6.5vh;
        border-radius: 10vh;


        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        font-size: 2.5vh;
        margin-top: 0.8vh;
    }

    .owl-next span,
    .owl-prev span {
        visibility: hidden;
    }
}